.AddToCart button {
  margin-right: auto;
  position: relative;
  background-color: #4c9aa4;
  font-size: 15px;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 15px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
