.Layout {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}
.Layout header {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color:rgba(10, 10, 10, 0);

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: inset  rgba(26, 27, 26, 0.473) 4px ;
  border-radius: 10px ;
}
.Layout aside {
  flex: 20% 0 0;
  background-color: rgba(240, 255, 255, 0.774);

 
}
.Layout main {
  flex: 80% 1 1;
  background-color: rgba(168, 160, 255, 0.068);
}
.Layout footer {
  flex: 100% 0 0;
  background-color: rgb(235, 235, 235);
}
@media (max-width: 650px) {
  .Layout header > .Nav {
    display: none;
  }
} 